<div class="container mx-auto">
  <!-- Top Bar -->
  <div class="bg-slate-900 text-white py-2 px-4 z-10">
    <div class="flex items-center justify-between">
      <h1 class="text-lg font-semibold">Edit Product</h1>
      <div class="flex items-center">
        <%= link_to "Back", products_path, class: "hover:underline ml-2 text-sm" %>
        <%= button_to "Delete", @product, method: :delete, data: { turbo_confirm: "Are you sure you want to delete this product?" }, class: "bg-red-500 text-white px-2 py-1 rounded hover:bg-red-700 ml-2 text-sm" %>
      </div>
    </div>
  </div>

  <div class="flex flex-grow h-screen">
    <!-- Sidebar Navigation -->
    <nav class="bg-slate-900 text-white w-1/8 md:flex flex-col hidden justify-between p-4 text-center sticky top-0 left-0 h-screen gap-8">
      <%= link_to products_path, class: "block text-2xl text-white hover:underline" do %>
        <i class="fas fa-home"></i>
      <% end %>
      <%= link_to root_path, class: "block text-2xl text-white hover:underline" do %>
        <i class="fas fa-shopping-cart"></i>
      <% end %>
    </nav>

    <!-- Main Content Section -->
    <div class="px-2 py-4 flex-grow overflow-y-auto">
      <%= render partial: "form", locals: { product: @product } %>
    </div>
  </div>
</div>
