<!-- Content section with fixed header -->
  <div class="container bg-slate-900 text-white py-2 px-4 z-10">
    <div class="flex items-center justify-between">
      <h1 class="text-lg font-semibold">Products</h1>
    </div>
  </div>

  <div class="flex flex-grow h-screen">
    <!-- Navigation -->
    <nav class="bg-slate-900 text-white w-1/8 md:flex flex-col hidden justify-between p-4 text-center sticky top-0 left-0 h-screen gap-8">
      <%= link_to products_path, class: "block text-2xl text-white hover:underline" do %>
        <i class="fas fa-home"></i>
      <% end %>
      <%= link_to root_path, class: "block text-2xl text-white hover:underline" do %>
        <i class="fas fa-shopping-cart"></i>
      <% end %>
    </nav>

    <!-- Main content section -->
    <div class="container mx-auto py-4 px-4">
      <div class="flex justify-between mb-4">
        <div></div>
        <div class="bg-gray-300 border border-gray-300 text-gray-800 py-2 px-4 rounded hover:bg-gray-400 hover:text-gray-900 text-sm font-semibold">
          <%= link_to "Add Product", new_product_path %>
        </div>
      </div>

      <% @products.each do |product| %>
        <div class="my-4 p-4 border border-gray-300 rounded-lg flex items-center justify-between">
          <div class="flex items-center">
            <input type="checkbox" class="mr-2"> <!-- Checkbox for each product -->
            <% if product.image.attached? %>
              <%= image_tag product.image.variant(:thumb), class: "w-16 h-16 object-cover rounded-full mr-4" %>
            <% else %>
              <div class="w-16 h-16 bg-gray-300 rounded-full flex items-center justify-center mr-4">
                Image Not Available
              </div>
            <% end %>

            <div>
              <%= link_to product.name, product, class: "text-md font-semibold text-gray-800 hover:underline block" %>
              <p class="text-gray-600 text-sm">Quantity: <%= product.qty %></p>
            </div>
          </div>

          <div>
            <div class="mt-2">
              <%= link_to "Edit", edit_product_path(product), class: "text-gray-800 hover:underline mr-2 text-sm" %> |
              <%= link_to "Delete", product, data: { turbo_method: :delete, turbo_confirm: "Are you sure you want to delete this product?" }, class: "text-red-500 hover:underline text-sm" %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>